{% extends "base.html" %}

{% block title %}Claim{% endblock %}

{% block body %}

<div class="container">
  <div class="card">
    <h1 style="margin-top: 0px; padding-bottom: 0;">
      Claim
    </h1>
    <div>
      Hey @{{user_name}} <br>
      Your claimable balance is:
    </div>
    <div>
      {{account.balance|float}} <span style="margin-left: 10px;">$COOL 🆒</span>
    </div>
    <div style="padding-bottom: 0px;">
      <button class="button button-primary" onclick="claimButtonClicked()" title="Claim $COOL"
      {% if account.balance <= 0 %}disabled{% endif %}>Claim 🆒</button>
      <button class="button button-secondary" onclick="addToWalletClicked()" title="Add $COOL to your wallet">+</button>
    </div>
  </div>
  <div class="footer">
    <a href="https://twitter.com/stephancill" target="_blank">@stephancill</a>.2021
  </div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/vendor/web3.min.js"></script>
<script src="/static/js/claim.js"></script>
{% endblock %}